<%= form_with(model: flit, local: true) do |form| %>
  <% if flit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flit.errors.count, "error") %> prohibited this flit from being saved:</h2>

      <ul>
      <% flit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :flit_name %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.collection_select :destination_ids, Destination.all, :id, :name , {:size => 5}, id: 'example', multiple: :true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script type="text/javascript">
  $("#example").select2({
  maximumSelectionLength: 2
});
</script>

<style type="text/css">
  .select2{
    width: 200px !important;
  }
</style>
<script type="text/javascript">
  $("#example").select2({
  maximumSelectionLength: 2
});
</script>